<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}">

    <title>Edit Item</title>

    <link href="{{ url_for('static', filename = 'bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'jumbotron-narrow.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'my.css') }}" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      {% include "navbar.html" %}
        <h2>Edit item</h2>
        <form role="form" id="editItemForm">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="{{ item.name }}" name='title'>
          </div>
          <div class="form-group">
            <label for="description">description</label>
            <textarea class="form-control" rows="3" id="description" placeholder="{{ item.description }}" name="description"></textarea>
          </div>         
          <div class="form-group">
            <select class="form-control" name="category_id">
              {% for cate in cates %}
              <option value="{{cate.id}}" {% if cate == item.category_id %} selected {% endif %}>{{cate.name}}</option>
              {% endfor %}
            </select>            
          </div>  
          <div class="alert" id="msgBoard"></div>
          <p><button type="button" class="btn btn-info u-btn-back"><a href="{{ url_for('showDescription', category = item.category.name, item = item.name) }}">Back</a></button></p>
          <button type="submit" class="btn btn-default" id="submit-btn">Submit</button>
        </form>      

    </div> 

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript">
        $('#editItemForm').submit(function(event){
        event.preventDefault();
        $.ajax({
          type: 'POST',
          url : "/catalog/{{item.name}}/edit/?state={{STATE}}",
          data: $('#editItemForm').serialize(),
          success: function(Msg){
            $('#submit-btn').hide();
            $('#msgBoard').removeClass('alert-danger').addClass("alert-success").text(Msg);
            setTimeout(function(){
              window.location.href = "/"
            }, 3000);
          },
          error: function(errorMsg){
            console.log(errorMsg);
            Msg = "Sorry, " + errorMsg.responseJSON + " Add Item failed. Please try again!"
            $('#msgBoard').removeClass('alert-success').addClass("alert-danger").text(Msg);
          }
        })
    });    
  </script>
  </body>
</html>
